<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Twitter key</key>
	<string>Lk8kPgRWRgHCXZyRgQxtjARXZ</string>
	<key>Twitter secret</key>
	<string>uIAsXdDbb82qfx4r9Z0gswpqri9TzfEWPKtonC3MDq8onS2SQ2</string>
</dict>
</plist>
