<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Twitter key</key>
	<string>WR5ZGa38CClNLyIYeQ8zCttJx</string>
	<key>Twitter secret</key>
	<string>3EPE934R3FhkwKLZqOcuQmZTqrZeixL3Dvfm08tOoyiobSAJeA</string>
</dict>
</plist>
